body{
  	background-image: url("../images/starrysky.png");
	background-repeat: repeat;
}
p {
    font-family: "Lucida Console";
    font-size: 30px;
    color:purple;
    letter-spacing: 2px;
    text-align:center;
    text-shadow: 3px 3px 4px white;	
				
}

#title
{
    color: orange;
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 60px;
    text-shadow: 2px 2px 3px white,
		 4px 4px 5px green;
}